name: tip_calculator
description: A Flutter app to calculate Tip Amount based on the Bill Amount and Tip Percentage.

publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  cupertino_icons: ^1.0.2
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  lint: ^1.6.0

flutter:
  uses-material-design: true
